extends ../base

block mainContent
    #message-container
      ul#messages 

        if userOpenaiDocs && userOpenaiDocs.length > 0
          each message in userOpenaiDocs.reverse()
            li.userMessage
              .userName #{user.username}
              .messageContent #{message.prompt}
              .timeStamp #{formatDate(message.prompt_time)}

            li.agentMessage
              .userName エージェント
              .messageContent #{message.completion[0]}
              .timeStamp #{formatDate(message.completion_time)}

    #chat-input-section
      .input-group
        input.form-control(type='text', placeholder='Type your message...')
        button.btn.btn-primary.btn-submit.shadow-0
          i.fas.fa-paper-plane

      button.btn.btn-white.btn-scroll-down.mx-2.shadow-0
        i.fas.fa-arrow-down

