extends ../../base

block mainContent
    div.col.d-flex.align-items-center.justify-content-center.mb-4
        i.fa.fa-robot.mx-3.display-6
        i.fa.fa-arrow-right
        i.fab.fa-wordpress.mx-3.display-6
    .toolbar.btn-toolbar.my-2
        .toolbar-body.py-3.px-2
            a.btn.btn-dark.shadow-none(type="button", href="/dashboard/app/autoblog/")
                i.fas.fa-list 
            if blogId
                - url = `/dashboard/app/autoblog/bot?blogId=${blogId}`
            else 
                - url = `/dashboard/app/autoblog/blog-info/`
            a.btn.btn-success.shadow-none.mx-2(type="button", href=url)
                i.fas.fa-plus 

    if !blogId && !botId
        .row.row-cols-1.row-cols-md-3.my-5
            each blog in blogData
                .col 
                    .card.mb-3(data-id=blog._id)
                        .card-body
                            a(href=blog.blogUrl, target="_blank") 
                                i.fab.fa-wordpress
                                span.mx-2.mb-2.card-title #{blog.blogName}
                                p.card-text #{blog.blogUrl}
                            .col.mt-2
                                a.btn.btn-primary.me-2(href=`/dashboard/app/autoblog/blog-info/${blog._id}`) 
                                    i.fa.fa-cog
                                a.btn.btn-dark.mx-2(href=`/dashboard/app/autoblog?blogId=${blog._id}`) 
                                    i.fa.fa-robot
                                button.toggle-blog-btn.btn.btn-success.mx-2(class=blog.isActive ? '': 'd-none' data-id=blog._id, onclick=`toggleBlogStatus('${blog._id}', false)`) 
                                    i.fas.fa-toggle-on
                                button.toggle-blog-btn.btn.btn-secondary.mx-2(class=!blog.isActive ? '': 'd-none'  data-id=blog._id, onclick=`toggleBlogStatus('${blog._id}', true)`) 
                                    i.fas.fa-toggle-off
    if blogId
        a(href=blogData.blogUrl, target="_blank") 
            i.fab.fa-wordpress
            span.mx-2 #{blogData.blogName}
        if botData
            .row.row-cols-1.row-cols-md-3.my-5
                each bot in botData
                    .col 
                        .card.mb-3(data-id=bot._id)
                            .card-body
                                i.fa.fa-robot
                                span.mx-2.mb-2.card-title #{bot.botName}
                                h6.card-subtitle.my-2.text-muted Bot ID: #{bot._id}
                                h6.card-subtitle.mb-2.text-muted #{bot.postgpt ? bot.postgpt.toUpperCase() : ''}
                                p.card-text #{bot.botDescription ? bot.botDescription.substring(0, 200) : ''}...
                                a.btn.btn-primary.me-2(href=`/dashboard/app/autoblog/bot?botId=${bot._id}&blogId=${blogId}`)
                                    i.fa.fa-cog
                                button.toggle-bot-btn.btn.btn-success.mx-2(class=bot.isActive ? '': 'd-none' data-id=bot._id, onclick=`toggleBotStatus('${bot._id}', false)`) 
                                    i.fas.fa-toggle-on
                                button.toggle-bot-btn.btn.btn-secondary.mx-2(class=!bot.isActive ? '': 'd-none' data-id=bot._id, onclick=`toggleBotStatus('${bot._id}', true)`) 
                                    i.fas.fa-toggle-off
                                a.btn.btn-secondary.mx-2(href=`/dashboard/app/autoblog?botId=${bot._id}`)
                                    i.fa.fa-file-alt
                                button.delete-bot-btn.btn.btn-danger.float-end.mx-2(data-id=bot._id)
                                    i.fas.fa-trash-alt
    if botId
        span 
            i.fa.fa-robot
            span.mx-2 #{botData.botName}
        if postData
            .row.row-cols-1.row-cols-md-3.my-5
                each post in postData
                    .col 
                        .card.mb-3(data-id=post._id)
                            .card-body
                                i.fa.fa-robot
                                span.mx-2.mb-2.card-title #{post.title}
                                h6.card-subtitle.my-2.text-muted Bot ID: #{post._id}
                                .col.mb-2
                                    each tag in post.tags
                                        span.me-2.mb-1.fw-bold #{tag.name}
                                - var title = post.content ? post.content.split('</h1>').pop().substring(0, 200)+'...' : ''
                                != title

    script(src="/js/autoblog.js")