extends base

block mainContent
  a.display-4(href=`/dashboard/app/${mode}`) Home
  form#search(action=`/dashboard/app/${mode}`, method="GET", data-mode=mode, data-page=page)
    .input-group.mb-3
      input(type="hidden" name="page" id="page" value=page)
      if mode == 4
        select#category(type="text", name="category", class="form-control")
      input#searchTerm(onfocus=mode==2?'searchSubreddits(this)':undefined ,type="text", name="searchTerm", class="form-control", placeholder="検索キーワードを入力してください", value=searchTerm, aria-label="Search")
      button.shadow-0(type="submit", class="btn btn-primary", style="z-index: 1;") 
        i.fas.fa-search
    .d-flex.mb-3
      a.badge.bg-dark.d-flex.align-items-center.text-white(href=`/dashboard/app/${mode}/fav?searchTerm=${searchTerm?searchTerm:''}`)
        | Favorites
        i.fas.fa-heart.ms-2
  ul.list-group#subRedditSearchRes.bg-white.w-100.position-absolute.border.shadow(style="max-height: 50vh;overflow: auto;z-index: 3;display: contents;")
  if result && mode == 1
    #video-container
      .row.row-cols-1.row-cols-sm-2.w-100.m-0
        .col.px-0.order-1.my-3
          #video-holder.sticky-video.px-0.bg-transparent
          #result.d-none
          #summary(style="display:none")
            .content
            #accordion.accordion
            // Summarize Section
            .accordion-item
              h2.accordion-header#headingOne
                button.btn.bg-white.px-3.accordion-button(type='button', data-bs-toggle='collapse', data-bs-target='#collapseOne') 要約する
              #collapseOne.accordion-collapse.collapse.show(aria-labelledby='headingOne', data-bs-parent='#accordion')
                .accordion-body

                  .row.row-cols-1.pe-0
                    .col.p-3
                      form.row#video-summarize.default.bg-white
                        .row
                          .form-group.col-6.my-3
                            label.fw-bold.my-2(for='language') 言語
                            select#language.form-control(name='language',required)
                              option(value='jp')
                                i.faw.faw-flag-jp
                                |  Japanese
                              option(value='en')
                                i.faw.faw-flag-us
                                |  English
                        .my-3
                          button.btn.btn-primary.w-100(type='submit') 
                            i.fas.fa-paper-plane.me-3
                            | 生成する
                        .result
                        .result-temp.d-none
            
            // SNS Post Section
            .accordion-item
              h2.accordion-header#headingTwo
                button.btn.bg-white.px-3.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseTwo') SNS投稿
              #collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo', data-bs-parent='#accordion')
                .accordion-body
                  // Your "SNS Post" form content here
                  .row.row-cols-1.pe-0
                    .col.p-3
                      form.row#video-snsContent.default.bg-white
                        .row
                          .form-group.col-6.my-3
                            label.fw-bold.my-2(for='language') 言語
                            select#language.form-control(name='language',required)
                              option(value='jp')
                                i.faw.faw-flag-jp
                                |  Japanese
                              option(value='en')
                                i.faw.faw-flag-us
                                |  English
                          .form-group.col-6.my-3
                            label.fw-bold.my-2(for='postCount') 投稿数
                            select#postCount.form-control(name='postCount', required)
                                option(value='1') 1 投稿
                                option(value='2') 2 投稿
                                option(value='3') 3 投稿
                                option(value='4') 4 投稿
                                option(value='5') 5 投稿
                          .form-group.col-6.my-3
                            label.fw-bold.my-2(for='snsChoice') SNS選択
                            select#snsChoice.form-control(name='snsChoice', required)
                              option(value='twitter')
                                |  Twitter
                              option(value='instagram')
                                |  Instagram
                              option(value='facebook')
                                |  Facebook
                              option(value='linkedin')
                                |  LinkedIn 
                        .my-3
                          button.btn.btn-primary.w-100(type='submit') 
                            i.fas.fa-paper-plane.me-3
                            | 生成する
                        .result
                        .result-temp.d-none
            
            // Q&A Section
            .accordion-item
              h2.accordion-header#headingThree
                button.btn.bg-white.px-3.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseThree') Q&A（質問と回答）
              #collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree', data-bs-parent='#accordion')
                .accordion-body

                  .row.row-cols-1.pe-0
                    .col.p-3
                      form.row#video-qa.default.bg-white
                        .row
                          .form-group.col-6.my-3
                            label.fw-bold.my-2(for='language') 言語
                            select#language.form-control(name='language',required)
                              option(value='jp')
                                i.faw.faw-flag-jp
                                |  Japanese
                              option(value='en')
                                i.faw.faw-flag-us
                                |  English
                        .my-3
                          button.btn.btn-primary.w-100(type='submit') 
                            i.fas.fa-paper-plane.me-3
                            | 生成する
                        .result
                        .result-temp.d-none
            
            // Importants Section
            .accordion-item
              h2.accordion-header#headingFour
                button.btn.bg-white.px-3.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseFour') 重要事項
              #collapseFour.accordion-collapse.collapse(aria-labelledby='headingFour', data-bs-parent='#accordion')
                .accordion-body

                  .row.row-cols-1.pe-0
                    .col.p-3
                      form.row#video-important.default.bg-white
                        .row
                          .form-group.col-6.my-3
                            label.fw-bold.my-2(for='language') 言語
                            select#language.form-control(name='language',required)
                              option(value='jp')
                                i.faw.faw-flag-jp
                                |  Japanese
                              option(value='en')
                                i.faw.faw-flag-us
                                |  English
                        .my-3
                          button.btn.btn-primary.w-100(type='submit') 
                            i.fas.fa-paper-plane.me-3
                            | 生成する
                        .result
                        .result-temp.d-none
        .col.order-2.order-sm-2.my-3

          block dynamicContent
    //block dynamicContent
  else 
    block dynamicContent
  if uniqueCurrentPages
    if uniqueCurrentPages.length
      ul
        each page in uniqueCurrentPages
          li
            a(href=page.currentPage)= page.currentPage
    else
      p No unique pages found.