extends index

block mainContent
    h2.fw-bold User Categories
    .container-fluid
      .row
        .col-3#category-column
          ul#category-list.list-group
            each category in user.categories
              li.list-group-item(data-category-id=category.id) #{category.name}
        .col-9
          #media-display
            if !categoryId
              // Display elements with the userId and categories containing Favorites
              each media in medias
                if media.userId == user._id && media.categoryName == "Favorites"
                  .media-item(data-media-id=media._id) #{media.content}
            else
              // Placeholder for the media items for a specific category
              each media in medias
                .media-item(data-media-id=media._id) #{media.content}
