extends ../dashboard/base

block mainContent
  .container.mt-4
    if !subscriptions.length
      p 現在、アクティブなメンバーシップはありません。
      a.btn.btn-primary(href="/payment/subscription" data-user-id=user._id) メンバーシップを選択
    else
      .d-flex.justify-content-between.align-items-center.mb-4
        h3 私のメンバーシップ
        button.btn.btn-primary(onclick="updatePaymentMethod(this)" data-user-id=user._id) 支払い方法を更新
      each subscription in subscriptions
        .card.shadow-sm.mt-3.bg-light
          .card-body
            h5.card-title #{subscription.productName}
            ul.list-group.list-group-flush
              li.list-group-item.bg-transparent
                strong 状態: 
                span #{subscription.isActive == true ? 'アクティブ' : '無料トライアル'}
              li.list-group-item.bg-transparent
                strong 開始日: 
                span #{subscription.startDate}
              li.list-group-item.bg-transparent
                strong 次回支払日: 
                span #{subscription.nextPaymentDate}
              li.list-group-item.bg-transparent
                strong 料金: 
                span #{subscription.price}¥ / #{subscription.billingCycle}
            if subscription.isActive === true
              .text-end.mt-3
                button.btn.btn-danger(type="submit" onclick=`cancelSubscription("${subscription.id}")`) キャンセル
  script(src='/js/stripe.js')
