extends ../dashboard/base

block mainContent
  if !subscriptions.length
    p There are no active memberships.
    a.btn.btn-primary(href="/payment/subscription" data-user-id=user._id) Choose a Membership
  else
    .d-flex.justify-content-between
      h3 My Membership
      button.btn.btn-primary(onclick="updatePaymentMethod(this)" data-user-id=user._id) Update Payment Method
    each subscription in subscriptions
      .card.mt-3
        .card-body
          h5.card-title #{subscription.productName}
          ul.list-group.list-group-flush
            li.list-group-item Status: #{subscription.isActive == true ? 'Active':'Inactive'}
            li.list-group-item Start Date: #{subscription.startDate}
            li.list-group-item Next Payment Date: #{subscription.nextPaymentDate}
            li.list-group-item Price: #{subscription.price}¥/month
          if subscription.isActive === true
            .text-end
              button.btn.btn-danger(type="submit" onclick=`cancelSubscription("${subscription.id}")`) Cancel
  script(src='/js/stripe.js')
