extends ../dashboard/base

block mainContent
  if !subscriptions.length
    p アクティブなメンバーシップはありません。
    a.btn.btn-primary(href="/payment/subscription" data-user-id=user._id) メンバーシップを選んでください
  else
    .d-flex.justify-content-between
        h3 マイメンバーシップ
        button.btn.btn-primary(onclick="updatePaymentMethod(this)" data-user-id=user._id) 支払い方法を更新
    each subscription in subscriptions
      .card.mt-3
        .card-body
          h5.card-title #{subscription.productName}
          ul.list-group.list-group-flush
            li.list-group-item ステータス: #{subscription.isActive == true ? '有効':'無効'}
            li.list-group-item 開始日: #{subscription.startDate}
            li.list-group-item 次回支払い日: #{subscription.nextPaymentDate}
            li.list-group-item 価格: #{subscription.price}¥/月
          if subscription.isActive === true
            .text-end
              button.btn.btn-danger(type="submit" onclick=`cancelSubscription("${subscription.id}")`) キャンセル
  script(src='/js/stripe.js')