extends ../dashboard/base

block mainContent
  h1 Payment Completed
  .d-flex.justify-content-between.mb-4
    p Your payment was successful. Thank you for subscribing!
    a.btn.btn-primary(type="button" href="/payment/subscription/bought-products") My Membership
  p Subscription ID: #{subscription.id}
  p Amount: ¥#{subscription.plan.amount}
  p Description: #{subscription.plan.product}
  if subscription.latest_invoice && subscription.latest_invoice.payment_method_details && subscription.latest_invoice.payment_method_details.card
    p Payment Method: #{subscription.latest_invoice.payment_method_details.card.brand}, Last 4 digits: #{subscription.latest_invoice.payment_method_details.card.last4}
  else 
    p No card information available.
  p Subscription Start Date: #{new Date(subscription.created * 1000).toLocaleDateString()}
