extends ../dashboard/base

block mainContent
  h1 支払いが完了しました
  .d-flex.justify-content-between.mb-4
    p お支払いが成功しました。ご購読ありがとうございます！
    a.btn.btn-primary(type="button" href="/payment/subscription/bought-products") マイメンバーシップ
  p サブスクリプションID: #{subscription.id}
  p 金額: ¥#{subscription.plan.amount}
  p 説明: #{subscription.plan.product}
  if subscription.latest_invoice && subscription.latest_invoice.payment_method_details && subscription.latest_invoice.payment_method_details.card
    p 支払い方法: #{subscription.latest_invoice.payment_method_details.card.brand}, 最後の4桁: #{subscription.latest_invoice.payment_method_details.card.last4}
  else 
    p カード情報は利用できません。
  p サブスクリプション開始日: #{new Date(subscription.created * 1000).toLocaleDateString()}

  p サブスクリプションのキャンセルについては、以下のリンクから管理できます。サブスクリプションの管理はこちら:
    a.btn.btn-secondary(type="button" href="/payment/subscription/bought-products") サブスクリプション管理
