extends ../dashboard/base

block mainContent
    .d-flex.justify-content-between.my-4
        if user.subscriptionId
            a.btn.btn-primary(type="button" href="/payment/subscription/bought-products") マイメンバーシップ
        if subscriptions
            .d-flex.justify-content-between
                h3 マイメンバーシップ
                button.btn.btn-primary(onclick="updatePaymentMethod(this)" data-user-id=user._id) 支払い方法を更新
            each subscription in subscriptions
                .card.mt-3
                    .card-body
                        h5.card-title #{subscription.productName}
                        ul.list-group.list-group-flush
                            li.list-group-item ステータス: #{subscription.isActive == true ? '有効':'無効'}
                            li.list-group-item 開始日: #{subscription.startDate}
                            li.list-group-item 次回支払い日: #{subscription.nextPaymentDate}
                            li.list-group-item 価格: #{subscription.price}¥/月
                        if subscription.isActive === true
                            .text-end
                                button.btn.btn-danger(type="submit" onclick=`cancelSubscription("${subscription.id}")`) キャンセル
    include plan

    script(src='/js/stripe.js')
