.row.justify-content-center.my-3
    .text-center
        h2 Memberships
        p Upgrade your plan ✨
    div.tab-content.my-5
        .row.row-cols-1.row-cols-md-3.mb-3.text-center.m-auto.justify-content-center
            .col
                .card.mb-4.rounded-3.shadow-sm.border
                    .card-header.py-3.bg-white
                        h4.my-0.fw-bold Free Plan
                        h6.mt-1.fw-normal For those who want to start with the minimum
                    .card-body
                        h1.card-title.pricing-card-title $0
                        small.text-muted.fw-light For ever
                        ul.list-unstyled.mt-3.mb-4.text-start.ps-3
                            li 
                                i.fa.fa-check.text-primary.me-3
                                | Use GPT-3.5
                            li 
                                i.fa.fa-times.me-3
                                | Use GPT-4
                            li 
                                i.fa.fa-times.me-3
                                | Usage limit: 5,000 characters per month
                            li 
                                i.fa.fa-times.me-3
                                | Number of projects: Up to 3
                            li 
                                i.fa.fa-times.me-3
                                | Number of users: Up to 2
                            li 
                                i.fa.fa-times.me-3
                                | 50+ templates available
                        a.btn.w-100.btn.btn-lg.btn-light.border.border-primary.text-primary(href="/dashboard" type="button") Enjoy Now
            .col
                .card.mb-4.rounded-3.shadow-sm.border-primary
                    .card-header.py-3.text-white.bg-primary.border-primary
                        h4.my-0.fw-bold Standard
                        h6.mt-1.fw-normal Enjoy unlimited access with peace of mind.
                    .card-body
                        h1.card-title.pricing-card-title $15
                        small.text-muted.fw-light per month
                        ul.list-unstyled.mt-3.mb-4.text-start.ps-3
                            li 
                                i.fa.fa-check.text-primary.me-3
                                | Use GPT-3.5
                            li 
                                i.fa.fa-check.text-primary.me-3
                                | Use GPT-4
                            li 
                                i.fa.fa-check.text-primary.me-3
                                | Usage limit: 5,000 characters per month
                            li 
                                i.fa.fa-check.text-primary.me-3
                                | Number of projects: Up to 3
                            li 
                                i.fa.fa-check.text-primary.me-3
                                | Number of users: Up to 2
                            li 
                                i.fa.fa-check.text-primary.me-3
                                | 50+ templates available
                        if user
                            button.w-100.btn.btn-lg.btn-primary(onclick="createCheckoutSession(this)" data-id="prod_OeUHg9ZQIyCkil" data-price="price_1NrBIeC8xKGwQm6Jg77DFLyP" type="button") Upgrade
                        else 
                            a.btn.w-100.btn.btn-lg.btn-primary(href="/user/signup" type="button") Start for Free
h3 Frequently Asked Questions
div#accordionExample.accordion
    each item, index in faq
        div.card.my-3
            div(class='card-header' id=`heading${index}` type='button' data-bs-toggle='collapse' data-bs-target=`#collapse${index}` aria-expanded='false' aria-controls=`collapse${index}`)
                h2.mb-0
                    button.btn.btn-link
                       | #{item.question}
            div(class='collapse' id=`collapse${index}` aria-labelledby=`heading${index}` data-bs-parent='#accordionExample')
                div.card-body
                    | #{item.answer}

.card.shadow-0.border
    .card-body(class= !user ? 'bg-light' : 'bg-white')
        .my-2.d-flex.align-items-center
            span.me-2.tag.border.border-dark.px-3.py-2.rounded 
                span Powered by 
                span.fw-bold stripe
            h5.fw-bold  RAKUBUN uses "Stripe" for payment processing.
        p.text-sm.f-muted "Stripe" complies with the strictest standards set by industry bodies and holds licenses from regulatory authorities in various countries (such as PCI DSS Level 1 certification). Your card information provided is not processed through RAKUBUN's system; it is directly registered with the "Stripe" payment system. You can use it with confidence.
