style.
    .b-custom-gradient {
        background: linear-gradient(90.9deg, #4facfe 2.74%, #00f2fe 102.92%);
    }
    .switch-button-container {
        margin-bottom: 20px;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 120px;
        height: 54px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #e4e4e4;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 46px;
        width: 60px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #e4e4e4;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #e4e4e4;
    }

    input:checked + .slider:before {
        transform: translateX(50px);
    }

    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50px;
        background: linear-gradient(90.9deg, #4facfe 2.74%, #00f2fe 102.92%);
    }
    .label {
        position: absolute;
        top: 15px;
        font-size: 16px;
        color: #666;
        font-weight: 600;
    }

    .label.monthly {
        left: 16px;
    }

    .label.yearly {
        right: 16px;
    }

    input:checked ~.label.yearly {
        color: #fff;
    }

    input:checked ~.label.monthly  {
        color: #666;
    }

    input:not(:checked) ~.label.yearly {
        color: #666;
    }

    input:not(:checked) ~.label.monthly  {
        color: #fff;
    }   
.row.justify-content-center.my-3
    .div.switch-container.text-center.my-3
        .switch-button-container
            label.switch
                input(type="checkbox" id="plan-switch")
                span.slider.round
                span.label.monthly 月額
                span.label.yearly(select) 年額
        .text-center.badge.badge-info.mb-3
            | 年額プランは12,000円お得です。
        .row.row-cols-1.row-cols-md-3.mb-3.text-center.m-auto.justify-content-center
            .col.d-none
                .card.mb-4.rounded-3.shadow-sm.border
                    .card-header.py-3.bg-white
                        h4.my-0.fw-bold 無料プラン
                        h6.mt-1.fw-normal 最低限から始めたい方へ
                    .card-body
                        h1.card-title.pricing-card-title ¥0
                        small.text-muted.fw-light 永久無料
                        ul.list-unstyled.mt-3.mb-4.text-start.ps-3
                            li
                                i.fa.fa-check.text-primary.me-3
                                | GPT-3.5を利用可能
                            li
                                i.fa.fa-times.me-3
                                | GPT-4は利用不可
                            li
                                i.fa.fa-times.me-3
                                | 利用制限: 月間5,000文字
                            li
                                i.fa.fa-times.me-3
                                | プロジェクト数: 最大3つ
                            li
                                i.fa.fa-times.me-3
                                | ユーザー数: 最大2人
                            li
                                i.fa.fa-times.me-3
                                | 50+テンプレート利用可能
                        a.btn.w-100.btn.btn-lg.btn-light.border.border-primary.text-primary(href="/dashboard" type="button") 今すぐ利用する
            .col
                .card.mb-4.rounded-3.shadow-sm.border-primary.yearly
                    .card-header.py-3.text-white.b-custom-gradient
                        h4.my-0.fw-bold プレミアムプラン
                        h6.mt-1.fw-normal Rakubun: 高機能ボットで複数ブログの管理を可能に。
                    .card-body
                        h1.card-title.pricing-card-title.monthly(style="display:none") ¥3,000
                        h1.card-title.pricing-card-title.yearly ¥2,000
                        small.text-muted.fw-light 
                            | 1ヶ月あたり
                            span.yearly (年払い)
                        ul.list-unstyled.mt-3.mb-4.text-start.ps-3
                            li
                                i.fa.fa-check.text-primary.me-3
                                | ChatGPT-4oおよびChatGPT-4o-miniを利用可能
                            li
                                i.fa.fa-check.text-primary.me-3
                                | 利用制限: 無制限
                            li
                                i.fa.fa-check.text-primary.me-3
                                | 複数ブログの追加が可能
                            li
                                i.fa.fa-check.text-primary.me-3
                                | 各ブログに複数ボットを作成可能
                            li
                                i.fa.fa-check.text-primary.me-3
                                | 100+テンプレート利用可能

                        if user
                            button.w-100.btn.btn-lg.b-custom-gradient.text-white.fw-bold(onclick="createCheckoutSession(this)" data-cycle="yearly" data-price-yearly=premiumYearly data-price-monthly=premiumMonthly type="button") アップグレード
                         
    section.px-4
        .card.shadow-0.border
            .card-body.bg-light
                .my-2
                    p.me-2.tag.border.border-dark.px-3.py-2.rounded.w-auto.d-inline-block.small
                        | 提供元:
                        img(src="/img/stripe-logo.png" alt="Stripe" style="width: 60px;")
                    h5.fw-bold  RAKUBUNは「Stripe」を利用して決済処理を行っています。
                    p.text-sm.f-muted 「Stripe」は業界団体の定める厳格な基準に準拠しており、各国規制当局によるライセンス

        div#accordionExample.accordion.mt-3
            each item, index in faq
                div.card.shadow-0.border.mb-2
                    div(class='card-header' id=`heading${index}` type='button' data-bs-toggle='collapse' data-bs-target=`#collapse${index}` aria-expanded='false' aria-controls=`collapse${index}`)
                        h6.mb-0.small
                            i(class="fas fa-question-circle me-2")
                            | #{item.question}
                    div(class='collapse' id=`collapse${index}` aria-labelledby=`heading${index}` data-bs-parent='#accordionExample')
                        div.card-body.small
                            | #{item.answer}

    script.
        $('#plan-switch').on('change', function() {
            const isChecked = $(this).is(':checked');
            
            if (isChecked) {
                console.log('yearly')
                $('.card-title.pricing-card-title.monthly').hide();
                $('.card-title.pricing-card-title.yearly').show();
                $('span.yearly').show();
                $('.monthly-label').hide();
                $('.yearly-label').show();
                $('button[data-cycle]').attr('data-cycle', 'yearly');
            } else {
                console.log('monthly')
                $('.card-title.pricing-card-title.monthly').show();
                $('.card-title.pricing-card-title.yearly').hide();
                $('span.yearly').hide();
                $('.monthly-label').show();
                $('.yearly-label').hide();
                $('button[data-cycle]').attr('data-cycle', 'monthly');
            }
        });
        $('#plan-switch').prop('checked', true);

