extends ../layout

block content
  .container
    if template
      h1 Edit Template
      form(method='POST', action=`/dashboard/templates/edit/${template._id}`)
    else
      h1 Add Template
      form(method='POST', action='/dashboard/templates/add')
	    .mb-3
	      label.form-label(for='name') Name
	      input.form-control(type='text', name='name', id='name', value=template ? template.name : '')
	    .mb-3
	      label.form-label(for='description') Description
	      textarea.form-control(name='description', id='description')= template ? template.description : ''
	    .mb-3
	      label.form-label(for='systemMessage') System Message
	      textarea.form-control(name='systemMessage', id='systemMessage')= template ? template.systemMessage : ''
	    .mb-3
	      label.form-label(for='generatePrompt') Generate Prompt
	      textarea.form-control(name='generatePrompt', id='generatePrompt')= template ? template.generatePrompt : ''
	    .form-check.mb-3
	      input.form-check-input(type='checkbox', name='isPublic', id='isPublic', checked=template && template.isPublic ? 'checked' : '')
	      label.form-check-label(for='isPublic') Make Public
	    button.btn.btn-primary(type='submit') Submit
