extends dashboard/index

block dynamicContent
  .row.w-100.m-0.row-cols-1
    .col.order-1.p-3
      h6 最新の検索
      hr.mb-4
      if data
        .masonry-container.row.custom-carousel-container
          each query, index in Object.keys(data).reverse()
            a.masonry-item.mb-3.px-2.rounded.col-12.col-sm-3(href=`/dashboard/app/${mode}/?searchTerm=${data[query][0].query}&page=${data[query][0].page}`)
              .card.hover(style="overflow: hidden;", data-query=query)
                .card-top.py-2.px-3.position-absolute
                  .d-flex.justify-content-between
                      button.delete-button-history.btn.btn-dark.border-white.border.hover.shadow.p-0(type="button", style="display:none")
                          i.fas.fa-trash-alt
                .card-body.row.p-0.rounded
                  each item in data[query]
                    img.col-6.p-0(style="width:50%;height:75px;object-fit:cover", data-id=item.video_id, src=item.url || item.imageUrl || item.thumb || item.link ,  alt=item.title)
                  .text-dark.px-4.py-2.fw-bold
                    span=data[query][0].query
      else
        p 検索履歴はここに表示されます。
    .col.order-1.p-3
      h6 最新の生成結果
      hr.mb-4
      if userOpenAi 
        for item in userOpenAi.reverse()
          .card.my-3
            .row 
              .card-image.col-12.col-sm-4.mx-0
                img(src=item.imageUrl,width="100%")
              .card-body.col-12.col-sm-8.mx-0.py-2
                h5=item.title
                p=item.openai && item.openai.summarize ? item.openai.summarize.slice(0, 75) + '...' : ''
      else
        p Your search history will be displayed here.
