extends dashboard/index

block dynamicContent
  label.form-label.d-none(for="grid") 1行あたりの要素数
  div#range(data-mode=mode)
    input.form-range(type="range" id="grid-range" min="1" max="4" value="3")
  if scrapedData.length > 0 
    .masonry-container.row.custom-carousel-container
      each data in scrapedData
        if data._id
          .mb-2.px-1.masonry-item.custom-carousel-item.grid-item(data-mode=mode, data-id=data._id, data-isdl=(data.filePath?"true":"false"))
            .card.info-container(class=`card-clickable-${mode}`, style="cursor:pointer", data-id=data._id, data-title=data.title)
              .card-body-over.position-absolute(style="inset:0;display: none;")
              .card-top.py-2.px-3.position-absolute
                .d-flex.justify-content-between
                    button.delete-button.btn.hover.shadow-0.text-white.p-0(type="button", style="display:none")
                        i.fas.fa-trash-alt
              if mode == 2
                if data.link.includes('redgif')
                  div(style='position:relative; padding-bottom:55.90%')
                      iframe(src=`${data.link.replace('watch','ifr')}` frameBorder='0' scrolling='no' width='100%' height='100%' style='position:absolute; top:0; left:0;' allowFullScreen)
                      img.card-img-top(type="button", style="object-fit:cover;height: 100%;min-height:200px;display:none", src=data.thumb, alt=data.title )
                else 
                    img.card-img-top(type="button", style="object-fit:cover;height: 100%;min-height:200px", src=data.link, alt=data.title )
              else
                  img.card-img-top(type="button", style="object-fit:cover;height: 100%;min-height:200px", src=data.url || data.imageUrl || data.link, alt=data.title,  data.imageUrl=data.imageUrl?data.imageUrl:undefined )
              .card-body.py-1.px-3.w-100.position-absolute.hover(style="bottom: 0;display:none")
                .d-flex.justify-content-between.tool-bar.py-2
                  button.download-button.btn.shadow-0(type="button", class=data.isdl?'done':'')
                    i.fas.fa-heart
                  a.source.btn.shadow-0.text-white(target="_blank", href=data.source||data.link||data.webm||data.url)
                    i.fas.fa-link
                  button.info-button.btn.shadow-0.text-white.p-0.d-none(type="button")
                    i.fas.fa-info
                  if mode == 1
                    button.summarize-button.btn.shadow-0.text-white.p-0.d-none(type="button")
                      i.fas.fa-plane
                p.card-title.text-white.bg-dark.border-white.border.p-3(style="display:none")= data.title
  else
    p ここには何もありません！
  if scrapedData.length > 0 
    .d-flex.justify-content-center.w-100.p-3
      a.btn.btn-dark.border(type="button",class=page<=1?'d-none':'', href=`/dashboard/app/${mode}?page=${page>1?page-1:''}&searchTerm=${searchTerm}`)        
        i.fas.fa-angle-left.me-3
        | 前へ
      span.px-3.btn.btn-white #{page}
      button.btn.btn-dark.bordert.load-more.load-more-next(type="button" data-mode=mode, data-page=page+1, data-searchTerm=searchTerm)        
        | 次へ
        i.fas.fa-angle-right.ms-3
      a.btn.btn-dark.bordert(type="button", class=scrapInfo&&scrapInfo.page==page?'d-none':'',href=`/dashboard/app/${mode}?page=${scrapInfo?scrapInfo.page:'1'}&searchTerm=${searchTerm}`)        
        | Last Page
        i.fas.fa-angle-right.ms-3
  #slickModal.modal.fade(tabindex='-1')
    .modal-dialog.modal-dialog-centered.modal-xl
      .modal-content.rounded-0(style="background:#000;")
        #slickCarousel.slick-carousel
        .position-absolute.d-flex.justify-content-end.py-3.w-100(style="z-index: 3;")
          button.btn#closeSlickModal.mx-3.text-white(type="button")
            i.fas.fa-times
        #slickCarousel-tool-bar.info-container.d-flex.flex-column.justify-content-center.position-absolute(style="z-index: 3;top:0;bottom: 0;")
          button.btn.slider-delete-button.p-3.text-white(type="button")
              i.fas.fa-trash-alt
          button.btn.download-button.p-3.text-white(type="button")
            i.fas.fa-heart
          a.source.p-3.text-white(target="_blank" href="#")
              i.fas.fa-link
  script(src="/js/slider.js")