extends dashboard/index

block dynamicContent
  label.form-label.d-none(for="grid") 1行あたりの要素数
  div#range(data-mode=mode)
    input.form-range(type="range" id="grid-range" min="1" max="4" value="3")
  if scrapedData.length > 0 
    .row
      each data in scrapedData
        if data._id
          .col-12.col-md-6.mb-3
            .card.info-container.px-0(class=`card-clickable-${mode}`, style="cursor:pointer",data-videoid=data.video_id, data-id=data._id, data-title=data.title)
              .card-body-over.position-absolute(style="inset:0;display: none;")
              .card-top.py-2.px-3.position-absolute
                .d-flex.justify-content-between
                    button.delete-button.btn.btn-dark.hover.shadow-0(type="button", style="display:none")
                        i.fas.fa-trash-alt
              img.card-img-top(type="button", style="object-fit:cover;height: 170px;", src=data.url || data.imageUrl || data.link, alt=data.title,  data.imageUrl=data.imageUrl?data.imageUrl:undefined )
              p.card-title.border-white.border.p-3= data.title
              .card-body.py-1.px-3.position-absolute.hover(style="top: 0;right:0;display:none")
                .d-flex.flex-column.tool-bar.py-2
                  button.btn.btn-dark.category-button.btn.shadow-0.mb-1(type="button")
                    i.fas.fa-heart
                  a.btn.btn-dark.source.btn.shadow-0.text-white(target="_blank", href=data.source||data.link||data.webm||data.url)
                    i.fas.fa-link
            .col-12.col-sm-6.mb-3.summary.d-none(data-id=data._id,data-videoid=data.video_id)
            .col-12.col-sm-6.mb-3.summary-temp.d-none(data-id=data._id,data-videoid=data.video_id)
  else
    p ここには何もありません！
  if scrapedData.length > 0 
    .d-flex.justify-content-center.w-100.p-3
      a.btn.btn-dark.border(type="button",class=page<=1?'d-none':'', href=`/dashboard/app/${mode}?page=${page>1?page-1:''}&searchTerm=${searchTerm}`)        
        i.fas.fa-angle-left.me-3
        | 前へ
      span.px-3.btn.btn-white #{page}
      button.btn.btn-dark.bordert.load-more.load-more-next(type="button" data-mode=mode, data-page=page+1, data-searchTerm=searchTerm)        
        | 次へ
        i.fas.fa-angle-right.ms-3
      a.btn.btn-dark.bordert(type="button", class=scrapInfo&&scrapInfo.page==page?'d-none':'',href=`/dashboard/app/${mode}?page=${scrapInfo?scrapInfo.page:'1'}&searchTerm=${searchTerm}`)        
        | Last Page
        i.fas.fa-angle-right.ms-3