extends ../dashboard

block dynamicContent
    .row
        each data in scrapedData.reverse()
            .col-md-4.mb-4
                .card.card-clickable(data-id=data.video_id, data-isdl=(data.filePath?"true":"false"))
                    .card-top.py-2.px-3.position-absolute
                        .d-flex.justify-content-between
                            .delete-button.text-white(type="button" data-id=data.video_id)
                                i.fas.fa-times
                    img.card-img-top(src=data.imageUrl, data-id=data.video_id, alt=data.alt, style='object-fit: cover;')
                    .card-body.py-1
                        .d-flex.justify-content-between
                            .download-button(data-id=data.video_id, style="display:none")
                                i.fas.fa-download
                            a(target="_blank" href=data.source?data.source:data.link)
                                i.fas.fa-link
                            .info-button(data-id=data.url)
                                i.fas.fa-info
                        p.card-title(style="display:none")= data.alt 
