extends ../base

block content
  .container
    h1.mt-4.mb-4.text-center テンプレート一覧

    h2.mb-3 公開テンプレート
    table.table.table-hover.table-responsive(class='w-100 d-block d-md-table')
      thead
        tr
          th 名前
          th 説明
          th.text-center 操作
      tbody
        each template in publicTemplates
          tr
            td= template.name
            td= template.description
            td.text-center
              a.btn.btn-sm.btn-primary(href=`/dashboard/templates/view/${template._id}`) 表示

    h2.mt-5.mb-3 あなたのテンプレート
    a.btn.btn-success.mb-3(href='/dashboard/templates/add') 新しいテンプレートを追加
    table.table.table-hover.table-responsive(class='w-100 d-block d-md-table')
      thead
        tr
          th 名前
          th 説明
          th.text-center 操作
      tbody
        each template in privateTemplates
          tr
            td= template.name
            td= template.description
            td.text-center
              a.btn.btn-sm.btn-secondary.me-2(href=`/dashboard/templates/edit/${template._id}`) 編集
              form.d-inline(method='POST', action=`/dashboard/templates/delete/${template._id}`)
                button.btn.btn-sm.btn-danger(type='submit' onclick='return confirm("本当に削除しますか？");') 削除
