//- dashboard/templates/view.pug
extends ../base

block content
  .container
    h1.mt-4.mb-4.text-center テンプレート詳細
    .card
      .card-header
        h2.card-title= template.name
      .card-body
        p
          strong 説明:
          |  #{template.description}
        p
          strong システムメッセージ:
          pre.bg-light.p-2 #{template.systemMessage}
        p
          strong プロンプト生成:
          pre.bg-light.p-2 #{template.generatePrompt}
        p
          strong 公開ステータス:
          |  #{template.isPublic ? '公開' : '非公開'}

        //- Tags Section
        if template.tags && template.tags.length > 0
          p
            strong タグ:
            each tag in template.tags
              a.btn.btn-sm.btn-outline-primary.mx-1(href=`/templates/tag/${encodeURIComponent(tag)}`) #{tag}
        else
          p
            | このテンプレートにはタグが設定されていません。

    //- Buttons
    a.btn.btn-secondary.mt-3(href='/templates') 戻る
    if isowner
      a.btn.btn-primary.mt-3.ms-2(href=`/templates/edit/${template._id}`) 編集
